{
    "ClassicControl":
    {
        "common":
        {
            "batch_size": 256,
            "lr": 1e-4
        },
        "dqn":
        {
            "explore_kwargs":
            {
                "reduce_epsilon": true,
                "initial_epsilon": 1.0,
                "final_epsilon": 0.05,
                "step_decay": 5000
            },
            "n_initial_exploration_steps": 1000,
            "target_update_freq": 1000
        },
        "rainbow":
        {
            "n_initial_exploration_steps": 1000,
            "target_update_freq": 1000,
            "buffer_kwargs":
            {
                "alpha": 0.2,
                "beta": 0.4,
                "beta_increment": 1e-6
            },
            "v_min": 0,
            "v_max": 200
        },
        "ppo":
        {
            "num_envs": 3,
            "num_epochs": 4,
            "clip_epsilon": 0.1,
            "lr": 1e-3,
            "horizon": 64,
            "batch_size": 32,
            "vf_coef": 0.1
        },
        "ppo_discrete":
        {
            "continuous": false,
            "norm_advantage": false,
            "clip_grad_norm": false
        }
    },
    "Atari":
    {
        "common": {},
        "dqn":
        {
            "buffer_size": 100000
        },
        "rainbow":
        {
            "buffer_size": 100000
        },
        "ppo":
        {
            "continuous": false,
            "num_envs": 8,
            "num_epochs": 3,
            "horizon": 128,
            "batch_size": 256,
            "clip_epsilon": 0.1,
            "lr": 2.5e-4,
            "vf_coef": 1.0,
            "entropy_coef": 0.01,
            "norm_advantage": true,
            "clip_grad_norm": false
        }
    },
    "Mujoco":
    {
        "common": {},
        "ppo":
        {
            "num_envs": 1
        }
    }
}